<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MyCompany\CustomerConnexionLogs\Api\Data\ConnectionLogInterface"
                type="MyCompany\CustomerConnexionLogs\Model\ConnectionLog"/>
    <preference for="MyCompany\CustomerConnexionLogs\Api\ConnectionLogRepositoryInterface"
                type="MyCompany\CustomerConnexionLogs\Model\ConnectionLogRepository"/>
</config>
